*{
    margin: 10;
    padding: 5;
    }

body {
    margin: auto;
    padding: 100px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: cornsilk;
    color: darkblue;
    display: block;
    }

p { 
    margin: 10px;
    padding-top: 10px;
    }

h1{
    font-family: Helvetica, Arial, sans-serif;
    }

blockquote, q {
quotes: none;
}

.nav  ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.nav li a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color:aquamarine;
    color:cadetblue;
}