*{
    margin: 10;
    padding: 5;
    }

body {
    margin: auto;
    padding: 100px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: cornsilk;
    color: darkblue;
    }

p { 
    margin: 10px;
    padding-top: 10px;
    }

h1{
    font-family: Helvetica, Arial, sans-serif;
    }
