*{
    margin: 10;
    padding: 5;
    }

body {
    margin: auto;
    padding: 100px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: cornsilk;
    color: darkblue;
    }

p { 
    margin: 10px;
    padding-top: 10px;
    }

h1{
    font-family: Helvetica, Arial, sans-serif;
    }



.nav #menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.nav #menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.nav #menu li a:hover {
    background-color: #555;
    color: white;
}